*{font-family: "宋体";}
nav {
	background-image: url(../img/navbar-bg.png);
	border-radius: 0px !important;
	margin-bottom: 0px !important;
}
body,html{overflow-x:hidden;font-size: 16px;}
.navbar-brand img {
	width: 150px;
	position: relative;
	bottom: 3px;
	margin-right: 50px;
}
#bs-example-navbar-collapse-1 .navbar-nav li a{
	margin-right: 3px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;}
#bs-example-navbar-collapse-1 .navbar-nav li a:hover{
	background-color: #080808;
}
#Search{color: #252525;}
#navButton{padding: 5px 15px;margin-top: 10px;}
#login{float: right;}
/*nav结束*/
#banner{/*background-image: url(../img/blue_bokeh.jpg)*/;background-size: cover;overflow: hidden;}
#banner02{background-image: url(../img/grid-white-1.png);position: relative;}
#banner02 video{width: 100%;height:auto;position: absolute;z-index: -1;}
#banner .container{padding-top: 150px;padding-bottom: 150px;}
/*banner*/
#bannerSection{
	width: 500px;
	margin: 0px auto;
}
.banSecP01{font-size: 50px;color: white;margin:0px auto;margin-bottom: 30px;
opacity: 0.2;transform:translate(0px,-30px) scale(0.5);transition: all 1s;}
.banSecP02{font-size: 16px;color: white;margin:0px auto;margin-bottom: 30px;opacity: 0;
transform:translate(0px,-30px) scale(0.5);transition: all 1s ease 0.5s;}
.banSecP03{margin-bottom: 30px;opacity: 0;transform:translate(0px,-30px) ;transition: all 1s ease 1s;}
#btn01{padding: 10px 30px;}
.banSecP04{opacity: 0;transform:translate(0px,-30px) ;transition: all 1s ease 1s;}
.banSecP04 a{color: white;}
#bannerSection.action p{opacity: 1;transform: translate(0px,0px) scale(1);}
/*banner结束*/
#guodu{background-color: #DCDDDE;margin-bottom: 30px;}
#guodu p{padding: 15px ;color: #8F8F8F;cursor: pointer;font-size: 16px;}
/*过度结束*/
#bodyer01 h2{margin-bottom: 40px;transform: scale(1.3);}
.car01{padding: 50px 10px;transform: translate(-100%,0);transition: all 1s; }
.action .car01{transform: translate(0);}
.car02{padding: 40px;transform: translate(100%,0);transition: all 2s;}
.action .car02{transform: translate(0);}
.b02carImg{max-width: 100%;box-shadow: 0 34px 47px 0 rgba(0,0,0,0.06);}

.b01carImg{max-width: 100%;box-shadow: 0 34px 47px 0 rgba(0,0,0,0.06);}
/*b01结束*/
#bodyer02{background-image: url(../img/white-noise.png);padding-top: 40px;}
#bodyer02 h2{margin-bottom: 40px;transform: scale(1.3);}
/*.b03Svg{padding-top:20px;width: 100%;height: 120px;transition: all 2s;}*/
.b03Svg{display: flex;width: 100%;height: 120px;transition: all 2s;justify-content: center;}
.action .b03Svg{transform: scale(1.3);}
.action .b03SvgBigpadding{transform: scale(1.3);}
.b02Img{padding: 60px 30px 20px 30px;background-color: transparent;border: 0px;}
.drupal{padding-top:40px;}
.b02Img h3{margin-top: 0px;color: #C6C6C6;}
/*b02结束*/
#bodyer03{background-image: url(../img/showcase_bg.png);padding: 40px 0px;}
.b03Font{text-align: right;transform: translate(-100%,0);transition: all 2s; }
.b03Font h2{color: #A1A1A1;}
.b03Font p{color: #A1A1A1;margin-top: 30px;font-size: 16px;}
#bodyer03 video{width: 100%;height: 100%;transform: translate(100%,0);transition: all 2s; }
#bodyer03.action .b03Font{transform: translate(0,0);}
#bodyer03.action video{transform: translate(0,0);}
/*b03结束*/
#bodyer04{background-image: url(../img/white-noise.png);padding-top: 40px;padding-bottom:80px;}
.b04title{margin:40px 0px;}
.b04text{font-size: 16px;color: #A1A1A1;margin-bottom: 20px;}
.b04number{font-family: 'Lato','Helvetica Neue','Open Sans',Arial,Helvetica,sans-serif;font-size: 64px;font-weight: 100;transform: scale(1);transition: all 1s; }
.b04numP{color: #919191;}
.action .b04number{transform: scale(2);}
